

<div class="container mx-auto min-h-screen flex flex-col items-center">
  <%= render 'header',
              first_link: link_to('Meu Perfil', jobs_path),
              second_link: link_to('Sair', destroy_employer_session_path) %>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-100 mb-5 text-green-500 text-center font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <main class="w-full xl:w-3/4 bg-white shadow-lg rounded-lg p-8 mt-32">

    <%= render 'job_information', job: @job %>
    
    <div class="flex flex-row justify-between mt-4">
      <%= link_to 'Edit this job', edit_job_path(@job), class: 'bg-green-500 hover:bg-green-600 p-3 rounded-md text-white font-bold text-md' %>
      <%= button_to 'Destroy this job', @job, method: :delete, class: 'bg-red-500 hover:bg-red-600 p-3 rounded-md text-white font-bold text-md' %>
    </div>
  </main>
  
  <div class="mt-8">
    <%= link_to 'Voltar para Vagas', jobs_path, class: 'text-green-600 hover:bg-green-200  py-3 p-4 rounded-md text-md font-bold' %>
  </div>
</div>