<div>

    <div>
      <%= render @job%>
    </div>
    
    <div class="whitespace-pre-wrap">
      <%= @job.description %>
    </div>

</div>

<div>
  <%= link_to 'Edit this job', edit_job_path(@job)%>
  <%= link_to 'Back to jobs', jobs_path %>
  <%= button_to 'Destroy this job', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>