<section class="mb-6">
  <h1 class="text-3xl font-bold text-gray-800">
    <%= @job.title %>
  </h1>
  <h2 class="text-xl text-gray-600 mt-2">
    <%= @job.employer.company_name %>
  </h2>
</section>


<section class="mb-8 grid grid-cols-1 lg:grid-cols-2 gap-6">
  <div class="space-y-4">
    <div>
      <h3 class="text-xl font-semibold text-gray-700">Localização:</h3>
      <p class="text-gray-600"><%= @job.location %></p>
    </div>
    <div>
      <h3 class="text-xl font-semibold text-gray-700">Salário:</h3>
      <p class="text-gray-600"><%= @job.salary %></p>
    </div>
  </div>
  <div class="space-y-4">
    <div>
      <h3 class="text-xl font-semibold text-gray-700">Tipo de Contrato:</h3>
      <p class="text-gray-600"><%= @job.mode %></p>
    </div>
    <div>
      <h3 class="text-xl font-semibold text-gray-700">Data de Publicação:</h3>
      <p class="text-gray-600"><%= @job.created_at.strftime('%d/%m') %></p>
    </div>
  </div>
</section>

<section>
  <div class="pb-4" >
    <h3 class="text-xl font-semibold text-gray-700">Descrição da Vaga</h3>
    <p class="whitespace-pre-wrap text-gray-700"><%= @job.description %></p>
  </div>
  
  <div class="pb-4">
    <h3 class="text-xl font-semibold text-gray-700">Requisitos</h3>
    <p class="whitespace-pre-wrap text-gray-700"><%=@job.requirements %></p>
  </div>

  <div class="pb-4">
    <h3 class="text-xl font-semibold text-gray-700">Qualificações</h3>
    <p class="whitespace-pre-wrap text-gray-700"><%= @job.skills %></p>
  </div>

  <div class="pb-4">
    <h3 class="text-xl font-semibold text-gray-700">Benefícios</h3>
    <p class="whitespace-pre-wrap text-gray-700"><%= @job.benefits %></p>
  </div>
</section>

<section class="flex flex-row justify-start mt-4">
  <% if @application&.status.eql?(false || nil) %>
    <%= button_to 'Candidate-se', apply_home_path(@job) , method: :post, class: 'bg-green-500 hover:bg-green-600 p-3 rounded-md text-white font-bold text-md' %>
  <% else %>
    <button class='bg-gray-500 hover:bg-gray-600 cursor-not-allowed p-3 rounded-md text-white font-bold text-md'>Candidatado</button>
  <% end %>
</section>